default:
  MAIN_TABLE: dev-triangle
  AWS_DYNAMO_ACCESS_KEY: AKIAIOSFODNN7EXAMPLE
  AWS_DYNAMO_SECRET_KEY: fIjn3fgnNlbfAGMacxfc8xl6f7LtdpZiEXAMPLEKEY
  REGION: sa-east-1
dev:
  MAIN_TABLE: dev-triangle
  AWS_DYNAMO_ACCESS_KEY: AKI32OSCVAPC3EXAMPLE
  AWS_DYNAMO_SECRET_KEY: wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
  REGION: sa-east-1
stage:
  MAIN_TABLE: stage-triangle
  AWS_DYNAMO_ACCESS_KEY: AKIFDASGODEN7EXAMPLE
  AWS_DYNAMO_SECRET_KEY: V1csfShUTBRc4xK6VcLT4SEv2HOq7fruEXAMPLEKEY
  REGION: sa-east-1
prod:
  MAIN_TABLE: prod-triangle
  AWS_DYNAMO_ACCESS_KEY: AKIAIO6S8E3BA1EXAMPLE
  AWS_DYNAMO_SECRET_KEY: xA2GwIdjqfm4Jc97DDbFRa8rOwD2pnfrEXAMPLEKEY
  REGION: sa-east-1